:root{

    --border_1: hsl(203, 42%, 50%);
    --bg_hell: hsl(203, 42%, 29%);
    --bg_heller: hsl(203, 42%, 19%);
    --bg_dunkel: hsl(201, 44%, 6%);
    --bg_liste: hsl(, 46%, 62%);

}

.liste{
    width: 70%;
    box-shadow: inset 0 0 5px var(--border_1);
    box-sizing: border-box;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border_1);
    border-width: 1px;
    /* background-color: var(--bg_liste); */
    color: rgb(220,220,220);
    padding: 10px 10px;
}

.block{        
    width: 70%;
    margin: 0px 20px 20px;
    /* box-shadow: 0 0 10px var(--border_1); */
    background-color: var(--bg_heller);
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--border_1);
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1000px){
    .block{
        width: 30%;
    }
}

@media (min-width: 1500px){
    .block{
        width: 20%;
    }
}
.header{
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--border_1);
    margin: 20px 0px;
    width: 100%;
    overflow-wrap: break-word;
}


.blockchain{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}

.invalid{
    background-color: hsl(0, 65%, 50%);
}

.verified{
    background-color: hsl(125, 56%, 41%);
}

.main{
    margin-top: 20px;
}

.header div{
    padding: 0px 15%;
}

.liste textarea{
    width: 100%;
    text-align: left;
    border-width: 1px;
    box-sizing:border-box;
}