:root{

    --border_1: hsl(203, 42%, 50%);
    --border_2: hsl(203, 72%, 72%);
    --bg_hell: hsl(203, 42%, 29%);
    --bg_heller: hsl(203, 42%, 19%);
    --bg_dunkel: hsl(201, 44%, 6%);
    --verifiedcol: hsl(140, 80%, 30%);
}
.main{
    display: flex;
    flex-wrap: wrap;
}

.message{
    width: 80%;
    margin: 20px 0px;
    padding: 0px 20px;
}

.forms{
    display: flex;
    justify-content: right;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    column-gap: 20px;
    
}

.forms *{
    margin: auto 0px;
}

.emph{
    color: var(--highlight);
}

.message .information{
    display: flex;
}
.message .information p{
    text-align: left;
}

.message .options{
    display: flex;
}

.text{
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.options *{
    margin: 0px;
}

.information * {
    margin: 5px;
}

.hidden{
    display: none;
}

textarea{
    width: 100%;
    border-style: solid;    
    border-color: var(--border_2);
    border-width: 1px;
    border-radius: 0%;
    height: 50px;
    font-size: 18px;
    overflow-wrap: break-word;
    margin: 5px 0px;
    /* overflow: scroll; */
}

.tablelight *{
    background-color: var(--bg_heller);
}
.tablelight{
    padding: 20px 20px;
    margin: 0px;
    background-color: var(--bg_heller);
}

.options input{
    width: 80%;
}
/* 
.transaction{
    border-color: var(--highlight);
    border-width: 3px;
    border-style: solid;
} */
.verified{
    background-color: hsl(125, 56%, 41%);
}

.miniform{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 20px 0px;
}

.miniform *{
    margin: auto 0px;
}