:root{

    --border_1: hsl(203, 42%, 50%);
    --border_2: hsl(203, 72%, 72%);
    --bg_hell: hsl(203, 42%, 29%);
    --bg_heller: hsl(203, 42%, 19%);
    --bg_dunkel: hsl(201, 44%, 6%);


}

.main div{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: fit-content;
}



.main{
    display: flex;
    flex-wrap: wrap;
}


.main div div{
    position: relative;
    width: 100%;
}



td{
    background: transparent;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.left::after{
    content : "";
    position: absolute;
    border-left-style: solid;
    border-width: 1px;
    border-color: var(--border_2);
    margin: 0px;
    left: 0%;
    bottom: 0%;
    height: 64%;
    width: 1px;
}

.left::before{
    content: "";
    position: absolute;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--border_2);
    margin: 0px;
    left: 0px;
    bottom: 10px;
    height: 1px;
    width: 90%;

}


.right{
    text-align: right;
}

.left{
    /* border-left: 1px solid var(--border_2); */
    position: relative;

}

.bigtable *{
    font-size: 20pt;

}

table{
    background: transparent;
    margin: 40px;
    

    width: 80%;
}

table *:not(button){
    background: transparent;
}


.userliste{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}
.useritem{
    display: flex;
    width: 45%;
    margin: 10px;
    justify-content: center;
    transition: 200ms;
}

@media (min-width: 1000px){
    .bigtable *{
        font-size: 12pt;
    }
    .useritem{
        width: 30%;
    }

    .main div{
        width: 50%;
    }

    table{
        margin: 10%;
        width: 64%;
    }
}


.useritem:hover{
    background-color: var(--bg_heller);
    transition: 20ms;
}

.tablebutton{
    box-sizing: border-box;
    width: max-content;
    padding: 6px 20px;
    margin-left: 20px;
}

.forms{
    display: flex;
    justify-content: space-between;
}

.forms p{
    margin: 10px 10px;
}

.hidden{
    display: none;
}
button:disabled{
        opacity: 0.6;
        cursor: not-allowed;
}