:root{

    --border_1: hsl(203, 42%, 50%);
    --border_2: hsl(203, 72%, 72%);
    --bg_hell: hsl(203, 42%, 29%);
    --bg_heller: hsl(203, 42%, 19%);
    --bg_dunkel: hsl(201, 44%, 6%);


}

.main{
    display: flex;
    flex-wrap: wrap;
}

.messagefeld{
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    justify-content: space-between;
}

.result{
    width: 100%;
    display: flex;
    border-style: solid;
    border-color: var(--border_2);
    border-width: 1px;
    border-radius: 0%;
    align-items: center;
    height: 100px;
    justify-content: center;
    overflow: scroll;
}

.result p{
    width: 100%;
    overflow-wrap: break-word;

}


.messagefeld input{
    width: 100%;
    border-style: solid;
    border-color: var(--border_2);
    border-width: 1px;
    border-radius: 0%;
    height: 100px;
    font-size: 18px;
    overflow-wrap: break-word;
    overflow: scroll;
}

.messagefeld textarea{
    width: 100%;
    border-style: solid;
    border-color: var(--border_2);
    border-width: 1px;
    border-radius: 0%;
    height: 100px;
    font-size: 18px;
    overflow-wrap: break-word;
    /* overflow: scroll; */
}

.messagefeld .smaller{
    width: 45%;
}


#key{
    width: 30%;
    margin-right: 10%;
    height: 50px;
}

#space{
    width: 60%;
    height: 50px;
}


*:focus{
    outline: none;
    border-style: solid;
    border-color: var(--border_2);
    border-width: 1px;
}

.edbuttons{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 1%;
    
}

.sendmsg{
    width: 100%;
}



.forms{
    display: flex;
    justify-content: space-between;
}

.forms p{
    margin: 10px 10px;
}

#signed{
    width: 20px;
    height: 20px;
}

.checkboxlabel{
    /* all: unset; */
    background-color: transparent;
    width: 100%;
}