:root{

    --border_1: hsl(203, 42%, 50%);
    --border_2: #84c4eb;
    --bg_hell: #2b5169;
    --bg_heller: #1c3545;
    --bg_dunkel: #091116;
    --verifiedcol: #0f8a38;
    --titlecol: #5d87da;
    --titlecol2: #333bcc;
    --highlight: #c0a7f1;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.weblink{
    width: 80%;
    margin: 5px;
    border-style: solid;
    border-width: 6px;
    border-color: var(--bg_heller);
    display: flex;
    flex-wrap: wrap;
    padding:20px;
    border-radius: 5px;
}

.title{
    color: var(--titlecol);
    font-size: 40px;
    text-shadow: 2px 2px var(--titlecol2);
    margin: 5px 0px;
}

.description{
    width: 100%;
    text-align: left;
}

@media (min-width: 1000px){
    .weblink{
        margin: 5px;
        width: 40%;
    }
}

@media (min-width: 1500px){
    .weblink{
        margin: 5px;
        width: 45%;
    }
}